*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background-color: rgb(56, 121, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 20px 20px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    gap: 30px;
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.heading{
    padding-bottom: 10px;
    background-color: bisque;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

.content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.content input{
    width: 100%;
    margin-bottom: 20px;
}

.topic{
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.option{
    margin-top: 40px;
    margin-left: 30px;
}

.option a{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(117, 41, 8);
    color: aliceblue;
}

.option a:hover{
    transition: all 0.4s;
    background-color: black;
    color: aliceblue;
}

#reg-form{
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 5px;
}

button:hover{
    cursor: pointer;
    transition: all 0.4s;
    color: #fff;
    background-color: black;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form input{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.login-form button{
    width: 30%;
}